<div>
  <form action="/filter" method="GET">
    <select onchange="this.form.submit()" class="form-select" name="filter">
      <option value="newest">Newest</option>
      <option value="highest_price">Highest price</option>
      <option value="lowest_price">Lowest price</option>
    </select>
  </form>
</div>